__pycache__/
.pytest_cache/
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal
instance/
.webassets-cache
__pypackages__/
.env
.venv
/.vscode
data/
logs/
dist
test.py
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*
node_modules
dist
dist-ssr
*.local
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
client/node_modules