.footer {
  position: absolute;
  bottom: 0;
  width: 99.5%;
  padding: 3px;
  font-size: 0.8rem;
  border-top: 2px solid #ccc;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #282c34;
  color: white;
}

.footer a {
  display: flex;
  align-items: center;
  color: white;
  text-decoration: none;
}

.icon {
  margin-right: 5px;
}

.copy {
  margin-left: 15px;
}