.body {
  position: relative;
  margin-top: auto;
  flex-direction: column;
  display: flex;
  width: 100%;
}

.footer {
  position: absolute;
  bottom: 0;
  height: 2.5rem;
  padding: 3px;
  font-size: 0.8rem;
  border-top: 2px solid #ccc;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #282c34;
  color: white;
  left: 0%;
  right: 0%;
}

.footer a {
  display: flex;
  align-items: center;
  color: white;
  text-decoration: none;
}

.icon {
  margin-right: 5px;
}

.copy {
  margin-left: 20px;
}