.main {
	overflow: hidden;
}

.main {
	width: 100%;
	height: 100%;
	position: absolute;
}

.background_img {
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0px;
	top: 0px;
	background-image: url(/images/background_main.png);
	background-repeat: no-repeat;
	background-size: cover;

}

.placeholder_link {
	color: rgba(0, 0, 0, 1);
	height: 443.8091735839844px;
	position: absolute;
	margin: auto;
	width: 50%;
	padding: 10px;
	font-family: Open Sans;
	text-align: left;
	font-size: 48px;
	letter-spacing: 0;
	cursor: pointer;
}