@use "./main.scss" as *;

.container {
  display: flex;
  background-color: #333;
  color: #fff;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  overflow: auto;
  height: 100vh;
  font-family: Arial, sans-serif;
}

.cursor_hex {
  cursor: pointer;
}

.default {
  cursor: text;
}

.title {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 1rem;
}

.input {
  @extend .input_class;
  padding: 0.5rem;
  margin-right: 0.5rem;
  margin-bottom: 15px;
  width: 100%;
  background-color: #444;
  color: #fff;
  transition: box-shadow 0.3s ease;
}

.input-date {
  @extend .input;
  color: #fff;
}

.input:focus {
  box-shadow: $shadow;
}

.button_data {
  @extend .input_class;
  padding: 0.5rem 1rem;
  background-color: #2178b2;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.button_data:hover {
  background-color: #2162b2;
}

.output {
  font-size: 1rem;
  width: 98%;
  padding: 0.5rem;
}

.tooltip {
  position: relative;
  display: inline-block;
  cursor: help;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 135px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 38%;
  margin-left: -60px;
  opacity: 0;
  transition: opacity 0.3s;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  font-size: 0.8rem;
  font-weight: 100;
  opacity: 0.95;
}

.table {
  width: 100%;
  border-collapse: collapse;
  text-align: center;
  table-layout: fixed;
}

td {
  padding: 10px;
  border: 1px solid black;
}

.colormode {
  margin-right: 15px;
}

.pagination {
  position: absolute;
  bottom: 6.4%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.page-button {
  @extend .input_class;
  font-size: 0.94rem;
  background-color: #2178b2;
  color: #fff;
  display: flex;
  font-family: sans-serif;
  justify-content: center;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-right: 15px;
  margin-left: 15px;
}

.page-button:hover {
  background-color: #2162b2;
}
