@use "./main.scss" as *;

.cursor_hex {
  cursor: pointer;
}

.default {
  cursor: text;
}

.input {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 1rem;

  &:focus {
    box-shadow: $shadow;
    outline: none;
  }

  &date {
    @extend .input_class;
    @include color_class(#fff, #444);
    padding: 0.5rem;
    width: 100%;
    transition: box-shadow 0.3s ease;
  }

  &date:focus {
    box-shadow: $shadow;
    outline: none;
  }

  &dropdown {
    @extend .input_class;
    @include color_class(#fff, #444);
    padding: 0.5rem;
    margin: 1.3rem;
    transition: box-shadow 0.3s ease;

    &:focus {
      box-shadow: $shadow;
      outline: none;
    }

    & option {
      color: #999;
    }

    & option:not(:first-child) {
      color: #fff;
    }
  }
}

.button_data {
  @extend .input_class;
  @include color_class(#fff, #2178b2);
  padding: 0.5rem 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;

  &:hover {
    background-color: #2162b2;
  }
}

.output {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 0.5rem;
  height: 100;

  &table {
    font-size: 1rem;
    border-collapse: collapse;
    text-align: center;
    table-layout: fixed;
    width: 100%;
    margin: 0.3rem 0;
    height: 100%;

    & td {
      padding: 0.625rem;
      border: 1px solid black;
    }
  }
}

.page {
  left: 0;
  margin: 0.8rem;

  &button {
    cursor: pointer;
    margin-right: 0.4rem;
    transition: background-color 0.3s ease;
    outline: none;
  }
}

.tooltip {
  position: relative;
  display: inline-block;
  cursor: help;

  .tooltiptext {
    @include color_class(#fff, #555);
    width: 120px;
    visibility: hidden;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 45%;
    margin-left: -40px;
    opacity: 0;
    transition: opacity 0.3s;
    font-size: 0.8rem;
    font-weight: 100;
  }

  &:hover .tooltiptext {
    visibility: visible;
    opacity: 0.95;
  }
}
