@use "./main.scss" as *;

.dropdown {
  @extend .input_class;
  padding: 0.5rem;
  margin-right: 0.5rem;
  margin-bottom: 15px;
  background-color: #444;
  color: #fff;
  transition: box-shadow 0.3s ease;
}

.dropdown option {
  color: #999;
}

.dropdown option:not(:first-child) {
  color: #fff;
}
