@use "./main.scss" as *;

.body {
  display: flex;
  flex-direction: column;
  margin-top: auto;
  width: 100%;
}

.footer {
  @include color_class(#fff, #282c34);
  align-items: center;
  border-top: 2px solid #ccc;
  bottom: 0;
  display: flex;
  font-size: 0.8rem;
  height: 2.5rem;
  justify-content: center;
  padding: 3px;

  a {
    align-items: center;
    color: white;
    display: flex;
    text-decoration: none;
  }
}

.icon {
  margin-right: 5px;
}

.copy {
  margin-left: 20px;
}
