@use "./main.scss" as *;

body {
  @include color_class(#fff, #333);
  font-size: 14px;
  line-height: 1.42857143;
  justify-content: center;
}

h1,
h3,
p {
  text-align: center;
  justify-content: center;
}

h1 {
  font-size: 36px;
}

h3 {
  font-size: 24px;
}

p {
  font-size: 14px;
}

.link {
  display: flex;
  color: #fff;
  justify-content: center;
  align-items: center;
}

.privacy_button {
  @extend .input_class;
  @include color_class(#fff, #2178b2);
  display: flex;
  justify-content: center;
  margin: 0.5rem auto;
  width: 25%;
  font: 400;
  padding: 0.5rem;
  cursor: pointer;
  transition: background-color 0.3s ease;

  &:hover {
    background-color: #2162b2;
  }
}
